---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            <!--             {% if site.description %}
            {% endif %} -->
            <span class="subheading"><strong>June 27, 2025 @ Berlin, Germany</strong></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span12">
              <p>
                <span>
                  <strong>ProvenanceWeek will be held in conjunction with SIGMOD 2025 in Berlin, Germany, on Friday June 27, 2025. </strong>
                  <!--Following successful previous ProvenanceWeek events, this year’s installment is again planned to co-locate the IPAW and TaPP workshops in conjunction with SIGMOD 2025. -->
                IPAW and TaPP build on a successful history of provenance workshops that bring together researchers from a wide range of computer science fields including workflows, semantic web, databases, high performance computing, distributed systems, operating systems, programming languages, and software engineering, as well as researchers from other fields, such as biology and physics that have urgent provenance needs.</span>
              </p>

              <p>
                <span>  Provenance is increasingly important in data science, workflow systems, and many other areas, particularly to support transparency, accountability and explanations. By providing a record of the data creation process and of dependencies between data, provenance information is essential for tracing errors in transformed data back to erroneous inputs, access control, auditing, repeatability and reproducibility, evaluating data quality, and establishing ownership of data.</span>
              </p>
          
               <h4>
                Location and Dates:
              </h4>
              <p>
                <!-- ProvenanceWeek will be held in conjunction with WebConf 2023 in Austin Texas on Sunday, April 30, and Monday, May 1, 2023. -->
                June 27 (Friday), 2025
                Co-located with SIGMOD 2025 in Berlin, Germany
              </p>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
