---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            <!--             {% if site.description %}
            {% endif %} -->

            <!-- <span class="subheading"><strong>April 30 - May 1, 2023 @Austin, TX, USA</strong></span> -->
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span12">
              <p>
                <span><strong>ProvenanceWeek will take place in 2025. 
                <!-- on April 30-May 1.  -->
                </strong>Following successful previous ProvenanceWeek events, this year’s instalment will again co-locate the IPAW and TaPP workshops in conjunction with WebConf 2023. IPAW and TaPP build on a successful history of provenance workshops that bring together researchers from a wide range of computer science fields including workflows, semantic web, databases, high performance computing, distributed systems, operating systems, programming languages, and software engineering, as well as researchers from other fields, such as biology and physics that have urgent provenance needs.</span>
              </p>

              <p>
                <span>  Provenance is increasingly important in data science, workflow systems, and many other areas, particularly to support transparency, accountability and explanations. By providing a record of the data creation process and of dependencies between data, provenance information is essential for tracing errors in transformed data back to erroneous inputs, access control, auditing, repeatability and reproducibility, evaluating data quality, and establishing ownership of data.</span>
              </p>

              

              <!-- Call for Papers -->
              <h2>
                Call for Papers
              </h2>
              <p>
                <span>
                  We invite innovative and creative contributions, including papers that outline new formal approaches to provenance, explore innovative uses of provenance, provide experience-based insights, and present visionary ideas. ProvenanceWeek continues the tradition of fostering a genuine workshop environment where participants can discuss and develop new ideas, as well as explore connections between different disciplines and academic research on provenance alongside practical applications. We strive to support diverse conversations from all fields, bringing together researchers from a wide range of computer science domains, such as workflows, databases, high-performance computing, distributed systems, operating systems, programming languages, and software engineering, all of which have significant provenance needs. 
                  <!-- Submission topics reflect the cross-cutting nature of this field, including, but not limited to: -->
                </span>
              </p>
              <br />
              <h4>
                Topics of interest include, but are not limited to:
              </h4>
              <ul>
                  <li><span>Trust, transparency, and accountability</span></li>
                      <ul>
                        <li>Provenance for attribution and trustworthy systems</li>
                        <li>Provenance for accountability and transparency</li>
                        <li>Provenance-based audit and forensics</li>
                      </ul>
                  <li><span>Security and privacy implications of provenance</span></li>
                  <li><span>Analysis of provenance</span></li>
                    <ul>
                      <li>Analytics, querying, and reasoning about provenance</li>
                      <li>Provenance visualization, and human interaction with provenance</li>
                    </ul>
                  <li><span>Storage and efficiency of provenance capture</span></li>
                    <ul>
                      <li>Design, performance and scalability of provenance systems</li>
                      <li>Provenance for big data and extreme computing</li>
                      <li>Provenance management system prototypes and commercial solutions</li>
                    </ul>
                  <li><span>Standardization of provenance models, services, and representations</span></li>
                  <li><span>Provenance of workflows and annotations</span></li>
                  <li><span>Provenance and data quality</span></li>
                  <li><span>Data sharing and data citation</span></li>
                  <li><span>Theoretical foundations of provenance</span></li>
                  <li><span>Provenance, social media, and the semantic web</span></li>
                  <li><span>Applicability of provenance</span></li>
                    <ul>
                      <li>Applications of provenance in real-life settings</li>
                      <li>Connections between provenance and established topics in other research fields (programming languages, security, software engineering, fairness, etc.)</li>
                    </ul>
              </ul>

              <ul><!-- 
                <li>
                  <span>Provenance visualization, and human interaction with provenance</span>
                </li>
                <li>
                  <span>Provenance for big data and extreme computing</span>
                </li>
                <li>
                  <span>Provenance for attribution and trust</span>
                </li>
                <li>
                  <span>Provenance for transparency and accountability</span>
                </li>
                <li>
                  <span>Security and privacy implications of provenance </span>
                </li>
                <li>
                  <span>Provenance, social media, and the semantic web</span>
                </li>
                <li>
                  <span>Provenance analytics, discovery, and reasoning about provenance and its quality</span>
                </li>
                <li>
                  <span>Data sharing and data citation </span>
                </li>
                <li>
                  <span>Provenance of workflows and annotations</span>
                </li>
                <li>
                  <span>Standardization of provenance models, services, and representations</span>
                </li>
                <li>
                  <span>Provenance management system prototypes and commercial solutions</span>
                </li>
                <li>
                  <span>Applications of provenance in real-life settings</span>
                </li>
                <li>
                  <span>Theoretical foundations of provenance </span>
                </li>
                <li>
                  <span>Connections between provenance and established topics in other research fields
                  </span>
                  <span>(programming languages, security, software engineering, fairness, etc.)</span>
                </li>
                <li>
                  <span>Provenance-based audit and forensics</span>
                </li>
                <li>
                  <span>Design, performance and scalability of provenance systems</span>
                </li>
              </ul> -->
              <br />
              

              <!-- <h4>
                Location and Dates:
              </h4>
              <p>
                ProvenanceWeek will be held in conjunction with WebConf 2023 in Austin Texas on Sunday, April 30, and Monday, May 1, 2023.
              </p>
              <br />-->



              <h4>
                Important Dates: TBD
              </h4>
              <!-- <ul>
                <li>
                  <strong>Papers Due:</strong> February 6, 2023
                </li>
                <li>
                  <strong>Notification of Acceptance:</strong> March 6, 2023
                </li>
                <li>
                  <strong>Camera-ready version due: </strong> March 15, 2023
                </li>
              </ul>
              <p>All deadlines are end-of-day in the Anywhere on Earth (AoE) time zone.</p> -->
              <br />


              <!-- Submission Instructions -->
              <h4>
                Submission Site:
              </h4>
              <p>
                Submission is via easychair, using the following link: 
                <!-- <a href="https://easychair.org/conferences/?conf=pw2025">https://easychair.org/conferences/?conf=pw2025</a> -->
              </p>
              <br />
              <h4>
                Formatting the submissions:
              </h4>
              <p>
                Papers must be submitted in PDF format according to the ACM template published in the ACM guidelines, selecting the generic “sigconf” sample. The PDF files must have all non-standard fonts embedded. Workshop papers must be self-contained and in English. Papers should not exceed 12 pages in length (maximum 8 pages for the main paper content + maximum 2 pages for appendixes + maximum 2 pages for references).
              </p>
              <!-- <p>
                Authors should indicate the track in the title (IPAW, TAPP, DEMO, POSTER or BEST)
              </p> -->
              <br/>

              <h4>Research Track</h4>
              <p>
                We invite innovative and creative contributions, including papers outlining new challenges for provenance research, promising formal approaches to provenance, experiments, and visionary (and possibly risky) ideas. Research track papers can be submitted as:
              </p>
              <ul>
                <li>Long papers: This track solicits full research papers that describe mature, high-quality research up to 8 pages, excluding references and other supporting material.</li>
                <li>Short papers: This track typically include work in progress or visionary ideas up to 4 pages (excluding references and other supporting material) that are not yet fully developed, but have the potential to lead to cutting-edge research.</li>
              </ul>
              <br/>

              <h4>Application Track</h4>
              <p>
                Application track papers up to 6 pages (excluding references and other supporting material) should focus on innovative use of provenance, deployment of provenance-based solutions and open-source software. We invite authors to share insights, experience, and lessons learned when deploying provenance systems. We encourage submissions describing datasets, tools, or infrastructure that could benefit the community at large.
              </p>
              
              <h4>Best of the Rest</h4>
              <p>
                As the provenance community is now established and publishing in conferences and journals across computer science domains, ProvenanceWeek is forming a “Best of the Rest” category. If you have had a provenance paper accepted to a conference or journal in 2024 through February 2025, we invite you to submit the abstract to ProvenanceWeek. We will invite the “Best of the Rest” to present their work at ProvenanceWeek to widen the conversation. Submit the abstract and original publication venue and date of the previously published work. The title of the abstract must begin with “BEST:”.
              </p>

              <h4>Demonstration and Posters</h4>
              <p>
                ProvenanceWeek encourages the presentation of posters and demonstrations. Proposals for posters and demonstrations should be limited to a short description. 
                <!-- Accepted posters and demonstrations will be presented during a separate session at the workshop. -->
              </p>
              <ul>
                <li>Demo papers describe the context and highlights of the proposed demonstration, including a brief description of the demonstration scenario up to 4 pages. The title of the proposal must begin with "DEMO:" </li>
                <li>Posters describe the poster content and research problem up to 2 pages. The title of the proposal must begin with "POSTER:"</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
