---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            <!--             {% if site.description %}
            {% endif %} -->

            <span class="subheading"><strong>TBD: Under Construction</strong></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span12">
            
              <h2>
                Organizers
              </h2>
              <br />
              <br />

              <h4>Chair</h4>
              <ul>
                <li>Tanja Auge</li>
                <li>Seokki Lee</li>
              </ul>
              <br />

              <h4>Senior Chairs</h4>
              <ul>
                <li>Adriane Chapman</li>
                <li>Paul Groth</li>
              </ul>
              <br />

              <h4><u><<!-- a href= "https://provenanceweek.github.io/IPAW2023/">IPAW</a></u> SC Chair</h4>
              <ul>
                <li>Paul Groth</li>
              </ul>
              <br />

              <h4><u><a href= "https://provenanceweek.github.io/TaPP2023/">TaPP</a></u> SC Chair</h4>
              <ul>
                <li>Adriane Chapman</li>
              </ul>
              <br /> -->

              <h4>
                Program Committee
              </h4>
              <ul>
                TBA
                <!-- <li>Khalid Belhajjame, PSL, Université Paris-Dauphine, LAMSADE</li>
                <li>Ghita Berrada, King's College London</li>
                <li>Elisa Bertino, Purdue University</li>
                <li>Pierre Bourhis, CNRS CRIStAL</li>
                <li>Vanessa Braganholo, UFF</li>
                <li>Vasa Curcin, King's College London</li>
                <li>Daniel de Oliveira, Fluminense Federal University</li>
                <li>David Eyers, University of Otago</li>
                <li>Irini Fundulaki, ICS-FORTH</li>
                <li>Amir Gilad, Duke University</li>
                <li>Boris Glavic, Illinois Institute of Technology</li>
                <li>Paul Groth, University of Amsterdam</li>
                <li>Xueyuan Han, Wake Forest University</li>
                <li>Melanie Herschel, University of Stuttgart</li>
                <li>Matteo Interlandi, Microsoft</li>
                <li>David Koop, Northern Illinois University</li>
                <li>Seokki Lee, University of Cincinnati</li>
                <li>Bertram Ludäscher, University of Illinois at Urbana-Champaign</li>
                <li>Tanu Malik, DePaul University</li>
                <li>Marta Mattoso, COPPE- Federal Univ. Rio de Janeiro</li>
                <li>Paolo Missier, Newcastle University</li>
                <li>Tope Omitola, University of Southampton</li>
                <li>Liat Peterfreund, CNRS</li>
                <li>Sudeepa Roy, Duke University</li>
                <li>Pierre Senellart, DI, École normale supérieure, PSL Research University</li>
                <li>Roee Shraga, Northeastern University</li>
                <li>Gianmaria Silvello, University of Padua</li>
                <li>Xiao Yu, Stellar Cyber</li> -->
              </ul>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
